/* MoneyPi CSS Styles Resource */

.mp-container {

}

.mp-datamap {
  height: 650px;
}

.highlight {
  border: 2px solid #88ff88;
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
